body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
      font-optical-sizing: auto;
      font-style: normal;
}

h2 {
    margin: 0;
    padding: 1rem;
    text-align: center;
    background: #1450F5;
    color: #FFF;
}

.views {
    height: 85%;
    display: flex;
}

#thatopen-container {
    display: block;
    height: auto;
    width: 100%;
}

sl-tab-group {
    height: 100%;
}

sl-tab-group,
sl-tab-group::part(body),
sl-tab-group::part(base),
sl-tab-panel, 
sl-tab-panel::part(base)
{

    width: 100%;
    height: 100%;
}

